{% extends "layout.html" %}
{% block content %}

<h1 style="animation: Fade_in 1.4s;">DASHBOARD</h1>
<div class="tab border-bottom ">
    <button class="tablinks" onclick="openCity(event, 'EmpReq')"><span class="lead">Employee Requests</span></button>
    <button class="tablinks" onclick="openCity(event, 'EmpList')"><span class="lead">Employee List</span></button>
</div>
<div id="EmpReq"  class="content-section table-responsive-lg tabcontent" style="animation: Fade_in 1.4s ease;">
    <table class="table table-hover">
        <!-- <h3 class="lead">Employee Requests</h3> -->
        <thead class="thead-dark">
            <tr>   
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        
        <tbody>
            {% for rec in req %}
            <tr>
                <td>{{rec.username}}</td>
                <td>{{rec.email}}</td>
                <td>
                    <a href="{{ url_for('req_emp', empname= rec.username, orgname = rec.parent_org) }}"
                    ><button type="submit" class="btn btn-primary mr-2">accept</button>
                </a>
                <a href="{{ url_for('del_empreq', e= rec.username, o = rec.parent_org) }}">
                    <button type="submit" class="btn btn-danger mr-2">remove</button>
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

<div id = "EmpList" class="content-section table-responsive-lg tabcontent" style="animation: Fade_in 1.4s ease;">
    <table class="table table-hover">
        <!-- <h3 class="lead">Employee List</h3> -->
        <thead class="thead-dark">
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for e in emplst %}
          <tr>
            <td>{{e.username}}</td>
            <td>{{e.email}}</td>
            <td>
                <a href="{{ url_for('subFolder', name = 'root_'+e.username) }}">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;">drive</button>
                </a>
                
                <a href="{{ url_for('del_emplist', en= e.username, on = e.parent_org) }}">
                    <button type="submit" class="btn btn-danger mr-2">remove</button>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
</script>

{% endblock content %}